# Environment
.env
.env.local
.env.*.local

# Logs
logs.txt
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Private keys
*private*.pem
*private*.key
*.pem
*.key
